
<!DOCTYPE html>
<html >
    <head>
        <title>Hey Hey</title>
    </head>
    <body>
        <h1>coucou</h1>
        <h2>Quand y'en à marre y'a malabar !</h2>
        <p>spec.ts ignorer je recommence</p>
        <p>on contiiiiiiiiiiiiiiiiinue</p>
        <p>encore un essai</p>
        <p>**/*.spec.ts</p>
        <p>La modif du jeudi</p>
        <p>ROFL !!</p>
        <p>huhu</p>
        <article>
            <p>attention je merge</p>
            <p>Ceci est un merge sur Preprod</p>
        </article>
        <div>
            <p>Test de la version de Java</p>
        </div>

        <article>
            - name: Check status
            run: |
              if [[ $? -eq 0 ]]; then
                # Si le code de retour est 0, les tests ont réussi
                echo "Tests unitaires réussis."
                 echo "::set-output name=status::success"  # Définir le statut comme "success"
              else
            
                echo "Échec des tests unitaires."
                echo "::set-output name=status::failure"  # Définir le statut comme "failure"
                fi
            id: check-status  
        </article>
    </body>
</html>
