
<!DOCTYPE html>
<html >
    <head>
        <title>Hey Hey</title>
    </head>
    <body>
        <h1>coucou</h1>
        <h2>Quand y'en à marre y'a malabar !</h2>
        <p>spec.ts ignorer je recommence</p>
        <p>on contiiiiiiiiiiiiiiiiinue</p>
        <p>encore un essai</p>
        <p>**/*.spec.ts</p>
        <p>La modif du jeudi</p>
        <p>ROFL !!</p>
        <p>huhu</p>
        <article>
            <p>attention je merge</p>
            <p>Ceci est un merge sur Preprod</p>
        </article>
        <div>
            <p>Test de la version de Java</p>
        </div>

        <article>
           
        </article>
    </body>
</html>
